{% extends 'base.html' %}

{% block content %}
<main id="main">
	<form action="{% url 'tasklist' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<button type="submit">Submit</button>
	</form>
	<ul class="list-group">
	{% for t in tasks %}
		<li class="list-group-item">
			<label class="list-group-item">
				<input class="form-check-input me-1" type="checkbok" value="" aria-label="..." {{ t.get_done }}>
				{{ t.get_description }}</input>
			</label>
		</li>
	{% endfor %}
	</ul>
</main>
{% endblock %}
